.link {
  fill: none;
  stroke: #333;
  stroke-width: 0.1px;
}

.node {
  stroke-width: 1.5px;
}

.node.entity {
  stroke: #000;
  fill: #FFF;
}

.node.document {
  stroke: #333;
  fill: #333;
}

.node.fixed {
  stroke-width: 5px;
  stroke: #CD2626;
}

.node:hover {
  stroke: #000;
  stroke-width: 5px;
}
text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


span.highlight { background-color: yellow; }

div {word-wrap: break-word;}
