{% extends "base.html.part" %}
{% block title %}Search{% endblock %}
{% block styles %}
{{ super() }}
.form-search{
    margin: auto;
}
.search-query {
    width:50%;
}

.search-holder {
  text-align: center;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


.nav a{
color:rgb(50,88,50);
}

.nav active a {
color:"blue";
}
{% endblock %}

{% block content %}
<div class="container">
<div class="search-holder">
<form class="form-search">
<input type="text" class="span2 search-query" id="search">
    <button type="submit" class="btn" id="submit_search"><i class="fa fa-search"></i></button>
</form>
</div>
<div class="search-results">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>File</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(function () {
    $('#search-navbar-item').attr('class', 'active');

    $("#submit_search").click(function(e){
    console.log($("#search").val());
    loader($("#search").val());
    //localStorage.setItem('search_term', $("#search_text").val())
    e.preventDefault();
 
    });
})

function loader(query){
  $.get('search/'+query,function(data){
      var tbl_row="";
      var tbl_body="";
      var tbl_elem = $('.search-results > table > tbody');
      tbl_elem.html('');
      list=data['result'];
      
      for(var row=0; row<list.length; row++){
        var row_elem = $('<tr>');

        var i_elem = $('<th scope="row">').text(row + 1);
        row_elem.append(i_elem);
        
        var doc_id = list[row][0];
        for (var col=1; col<list[row].length; col++) {
          var col_elem = $('<td>').html(list[row][col]);
          if ( col == 1 ) {
            col_elem.wrapInner("<a href=/download/" + doc_id + "></a>");
          }
          else if ( col == 2 ) {
            col_elem.wrapInner("<a href=/view/" + doc_id + "></a>");
          }
          row_elem.append(col_elem);
        }
        tbl_elem.append(row_elem);
      }

      //tbl_selector.append(tbl_body)
      //$("#myTable").DataTable();
      });
}


//loader('dagoberto');
                                                
</script>
                                                
{% endblock %}

