{% extends "base.html.part" %}
{% block title %}Search{% endblock %}
{% block styles %}
{{ super() }}
.form-search{
    margin: auto;
}
.search-query {
    width:50%;
}

.search-holder {
  text-align: center;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
g.node:not(:hover) g.nodetext {
    display:none;
}

#network {
}

#network text {
    font: 10px sans-serif;
    pointer-events: none;
}

.nav a{
color:rgb(50,88,50);
}

.nav active a {
color:"blue";
}
{% endblock %}

{% block content %}
<div class="container">
<div class="search-holder">
<form class="form-search">
<input type="text" class="span2 search-query" id="search">
    <button type="submit" class="btn btn-primary btn-lg" id="submit_search"><i class="fa fa-search"></i></button>
    <button type="button" 
     class="btn" data-toggle="modal" data-target="#viz-modal" 
      id="submit_viz"><i class="fa fa-eye-slash"></i></button>
    <button type="button" class="btn" id="submit_map"><i class="fa fa-globe"></i></button>
</form>
</div>

<div class="search-results">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>File</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<div id="viz-modal" class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="network-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="network-title">Entity Network</h4>
      </div>
      <div class="modal-body"> 
        <div id="network"></div>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(function () {
    $('#search-navbar-item').attr('class', 'active');

    $("#submit_search").click(function(e){
      console.log($("#search").val());
      loader($("#search").val());
      e.preventDefault();
    });

      $("#viz-modal").on('shown.bs.modal', function (e) {
        console.log($("#search").val());
        network_loader($("#search").val());
    });
})


function network_loader(query){

  $.get('viz/'+query,function(data){
    
 
    graph=JSON.parse(data);
    console.log(graph);
    var network_container = $("#network");
    var width = network_container.parent().width(),
        height = width;

      var color = d3.scale.category20();

      
      var svg = d3.select("#network").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("pointer-events","all")
        .append('svg:g')
        .call(d3.behavior.zoom().on("zoom",redraw))
        .append('svg:g');

       var force = d3.layout.force()
          .nodes(graph.nodes)
          .links(graph.links)
          .size([width, height])
          .linkDistance(100)
          .charge(-200)
          .start();

        function redraw(){
          svg.attr("transform","translate("
          + d3.event.translate+")"+" scale("+d3.event.scale+")");
        }

        var link = svg.append("g").selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link");

      // Create the groups under svg
      var gnodes = svg.selectAll('g.gnode')
        .data(graph.nodes)
        .enter()
        .append('g')
        .classed('gnode', true);

      // Add one circle in each group
      var node = gnodes.append("circle")
        .attr("class", "node")
        .attr("r", 5)
        .attr("fill","cadetblue")
        .call(force.drag);

      var labels = gnodes.append("text")
        .attr("fill","black")
        .text(function(d) { return d.id; });

      force.on("tick", function() {
        // Update the links
        link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

        // Translate the groups
        gnodes.attr("transform", function(d) { 
          return 'translate(' + [d.x, d.y] + ')'; 
        });    

      });
});
}


function loader(query){
  $.get('search/'+query,function(data){
      var tbl_row="";
      var tbl_body="";
      var tbl_elem = $('.search-results > table > tbody');
      tbl_elem.html('');
      list=data['result'];
      
      for(var row=0; row<list.length; row++){
        var row_elem = $('<tr>');

        var i_elem = $('<th scope="row">').text(row + 1);
        row_elem.append(i_elem);
        
        var doc_id = list[row][0];
        for (var col=1; col<list[row].length; col++) {
          var col_elem = $('<td>').html(list[row][col]);
          if ( col == 1 ) {
            col_elem.wrapInner("<a href=/download/" + doc_id + "></a>");
          }
          else if ( col == 2 ) {
            col_elem.wrapInner("<a href=/view/" + doc_id + "></a>");
          }
          row_elem.append(col_elem);
        }
        tbl_elem.append(row_elem);
      }

      //tbl_selector.append(tbl_body)
      //$("#myTable").DataTable();
      });
}


//loader('dagoberto');
                                                
</script>
                                                
{% endblock %}

