<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Unicorn</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url_for('static', filename='plugins/bootstrap/bootstrap.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link href="{{url_for('static', filename='plugins/fancybox/jquery.fancybox.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/fullcalendar/fullcalendar.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/xcharts/xcharts.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='plugins/select2/select2.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/jquery.dataTables.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/leaflet.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/leaflet-locationfilter/src/locationfilter.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/Leaflet.markercluster/dist/MarkerCluster.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='js/Leaflet.markercluster/dist/MarkerCluster.Default.css')}}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
                                <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
                                <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
                <![endif]-->
</head>
<body>
<!--Start Header-->
<div id="screensaver">
  <canvas id="canvas"></canvas>
  <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
  <div class="devoops-modal">
    <div class="devoops-modal-header">
      <div class="modal-header-name">
        <span>Basic table</span>
      </div>
      <div class="box-icons">
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="devoops-modal-inner">
    </div>
    <div class="devoops-modal-bottom">
    </div>
  </div>
</div>
<header class="navbar">
  <div class="container-fluid expanded-panel">
    <div class="row">
      <div id="logo" class="col-xs-12 col-sm-2">
        <a href="index.html">Unicorn</a>
      </div>
      <div id="top-panel" class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col-xs-8 col-sm-6">
            <a href="#" class="show-sidebar">
              <i class="fa fa-bars"></i>
            </a>
            <div id="search">
              <input type="text" placeholder="search"/>
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-xs-4 col-sm-6 top-panel-right">
            <ul class="nav navbar-nav pull-right panel-menu">
              <li class="hidden-xs">
              <a href="index.html" class="modal-link">
                <i class="fa fa-bell"></i>
                {% if user.notifs > 0 %}
                <span class="badge">{{user.notifs}}</span>
                {% endif %}
              </a>
              </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                <div class="avatar">
                  <img src="{{url_for('static', filename='img/unicorn.png')}}" class="img-rounded" alt="avatar" />
                </div>
                <i class="fa fa-angle-down pull-right"></i>
                <div class="user-mini pull-right">
                  <span class="welcome">Welcome,</span>
                  <span>{{current_user.email}}</span>
                </div>
              </a>
              <ul class="dropdown-menu">
                {% if current_user.moderator %}
                <li>
                <a id="user-settings-link" href="#">
                  <i class="fa fa-user-plus"></i>
                  <span>(Admin) Invite user</span>
                </a>
                </li>
                {% endif %}
                <li>
                <a href="{{url_for('.logout')}}">
                  <i class="fa fa-power-off"></i>
                  <span>Logout</span>
                </a>
                </li>
              </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
  <div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
      <ul class="nav main-menu">
        <li>
        <a href="{{url_for('.search_endpoint')}}" class="active ajax-link">
          <i class="fa fa-heart"></i>
          <span class="hidden-xs">Search Results</span>
        </a>
        </li>
        <li class="dropdown">
        <a href="static/ajax/entities.html" class="ajax-link">
          <i class="fa fa-eye-slash"></i>
          <span class="hidden-xs">Entities</span>
        </a>
        </li>
        <li class="dropdown">
        <a class="ajax-link" href="static/ajax/forms_elements.html" class="dropdown-toggle">
          <i class="fa fa-cloud"></i>
          <span class="hidden-xs">Word Cloud</span>
        </a>
        </li>
        <li>
          <li class="dropdown">
        <a class="ajax-link" href="static/ajax/typography.html" class="dropdown-toggle">
          <i class="fa fa-book"></i>
          <span class="hidden-xs">Topics</span>
        </a>
        </li>
         <li>
        <a class="ajax-link" href="static/ajax/urls.html">
          <i class="fa fa-desktop"></i>
          <span class="hidden-xs">Urls</span>
        </a>
        </li>
          <li>
        <a class="ajax-link" href="static/ajax/map_fullscreen.html">
          <i class="fa fa-globe"></i>
          <span class="hidden-xs">Map</span>
        </a>
        </li>
       <li>
        <a href="static/ajax/bulksearch.html" class="ajax-link">
          <i class="fa fa-arrows-alt"></i>
          <span class="hidden-xs">Bulk Search</span>
        </a>
        </li>
        <li>
        <a class="ajax-link" href="static/ajax/upload.html">
          <i class="fa fa-upload"></i>
          <span class="hidden-xs">Upload</span>
        </a>
        </li>
      </ul>
    </div>
    <!--Start Content-->
    <div id="content" class="col-xs-12 col-sm-10">
      <div class="preloader">
        <img src="{{url_for('static', filename='img/devoops_getdata.gif')}}" class="devoops-getdata" alt="preloader"/>
      </div>
      <div id="ajax-content"></div>
    </div>
    <!--End Content-->
  </div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{url_for('static', filename='plugins/jquery/jquery-2.1.0.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/justified-gallery/jquery.justifiedgallery.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/tinymce/jquery.tinymce.min.js')}}"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{{url_for('static', filename='js/dash.js')}}"></script>
<script src={{url_for('static', filename='js/d3.js')}}></script> 
<script src={{url_for('static', filename='js/d3.layout.cloud.js')}}></script>
<script src={{url_for('static', filename='js/jquery.dataTables.js')}}></script>
<script src='{{url_for('static', filename='js/force-graph.js')}}'></script>
<script src={{url_for('static', filename='js/leaflet.js')}}></script>
<script src={{url_for('static', filename='js/leaflet-locationfilter/src/locationfilter.js')}}></script>
<script src={{url_for('static', filename='js/Leaflet.markercluster/dist/leaflet.markercluster-src.js')}}></script>
</body>
</html>
