<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="{{url_for('.root')}}">Home</a></li>
      <li class="disabled"><a href="#">Search results</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar-o"></i>
          <span>History</span>
        </div>
        <div class="box-icons pull-right">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-content" id="previous-searches">
          {% include 'historical-searches-box.html' %}
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar-o"></i>
          <span>Search results</span>
        </div>
        <div class="box-icons pull-right">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-content" id="search-results-box">
        {% include 'search-results-box.html' %}
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar-o"></i>
          <span>Document viewer</span>
        </div>
        <div class="box-icons pull-right">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-content">
              <ul class="nav nav-tabs" role="tablist" id="doc-viewer-tabs">
              </ul>
              <div class="tab-content" id="doc-viewer-content">
              </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar-o"></i>
          <span>Entity Graph</span>
        </div>
        <div class="box-icons pull-right">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-content" id="entity-graph-box">
          {% include 'entities.html' %}
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar-o"></i>
          <span>Node Information</span>
        </div>
        <div class="box-icons pull-right">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="box-content" id="node-info-box">
          <div id="node-info">
              <div id="node-name"></div>
              <div id="node-type"></div>
              <div id="node-category"></div>
              <div id="node-neighbors"></div>
              <div id="node-cousins"></div>
              <hr>
              <div id="node-current-name">No node selected</div>
              <div id="node-current-type"></div>
              <div id="node-current-category"></div>
          </div>
      </div>
    </div>
  </div>
</div>
